.playlist {
  list-style: none;
  padding: 0;
  width: 100%;

  li {
    display: flex;
    padding: 20px;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }

    .meta {
      flex-grow: 1;
    }

    .cover {
      margin-right: 20px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.player {
  .cover {
    img {
      width: 100%;
    }
  }
}

.playbar {
  display: flex;
  align-items: center;

  .bar {
    flex-grow: 1;
    background-color: lime;
    height: 6px;
    position: relative;
    border-radius: 10px;

    .handle {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: white;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      top: -6px;
      position: absolute;
    }
  }
}
